output_local.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2020 rel. 2 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="city">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="0,4 км від центру"/>
				<xs:enumeration value="1,5 км від центру"/>
				<xs:enumeration value="1,9 км від центру"/>
				<xs:enumeration value="2,3 км від центру"/>
				<xs:enumeration value="2,6 км від центру"/>
				<xs:enumeration value="4,5 км від центру"/>
				<xs:enumeration value="4,9 км від центру"/>
				<xs:enumeration value="5,3 км від центру"/>
				<xs:enumeration value="5,9 км від центру"/>
				<xs:enumeration value="9,3 км від центру"/>
				<xs:enumeration value="Дніпро"/>
				<xs:enumeration value="Київ"/>
				<xs:enumeration value="Одеса"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="company" type="xs:string"/>
	<xs:element name="hot">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Гаряча"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="job_desription" type="xs:string"/>
	<xs:element name="position" type="xs:string"/>
	<xs:element name="post">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="position"/>
				<xs:element ref="salary"/>
				<xs:element ref="company"/>
				<xs:element ref="trusted"/>
				<xs:element ref="city"/>
				<xs:element ref="to_center"/>
				<xs:element ref="job_desription"/>
				<xs:element ref="hot"/>
			</xs:sequence>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="1496055"/>
						<xs:enumeration value="1661155"/>
						<xs:enumeration value="1691196"/>
						<xs:enumeration value="1747344"/>
						<xs:enumeration value="1801819"/>
						<xs:enumeration value="3814343"/>
						<xs:enumeration value="3828208"/>
						<xs:enumeration value="3860183"/>
						<xs:enumeration value="3861295"/>
						<xs:enumeration value="3871079"/>
						<xs:enumeration value="3871179"/>
						<xs:enumeration value="3871195"/>
						<xs:enumeration value="3871304"/>
						<xs:enumeration value="3871729"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="post" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="salary">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="10000 – 13000 грн"/>
				<xs:enumeration value="12500 грн"/>
				<xs:enumeration value="15000 грн"/>
				<xs:enumeration value="25000 грн"/>
				<xs:enumeration value="25000 – 60000 грн"/>
				<xs:enumeration value="30000 грн"/>
				<xs:enumeration value="none"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="to_center">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="0,4 км від центру"/>
				<xs:enumeration value="1,5 км від центру"/>
				<xs:enumeration value="1,9 км від центру"/>
				<xs:enumeration value="2,3 км від центру"/>
				<xs:enumeration value="2,6 км від центру"/>
				<xs:enumeration value="4,5 км від центру"/>
				<xs:enumeration value="4,9 км від центру"/>
				<xs:enumeration value="5,3 км від центру"/>
				<xs:enumeration value="5,9 км від центру"/>
				<xs:enumeration value="9,3 км від центру"/>
				<xs:enumeration value="none"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="trusted">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="  true"/>
				<xs:enumeration value="none"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
