output_global.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2020 rel. 2 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="city" type="T_city"/>
	<xs:element name="company" type="xs:string"/>
	<xs:element name="hot" type="T_hot"/>
	<xs:element name="job_desription" type="xs:string"/>
	<xs:element name="position" type="xs:string"/>
	<xs:element name="post" type="T_post"/>
	<xs:element name="root" type="T_root"/>
	<xs:element name="salary" type="T_salary"/>
	<xs:element name="to_center" type="T_to_center"/>
	<xs:element name="trusted" type="T_trusted"/>
	<xs:attribute name="id" type="AT_1"/>
	<xs:complexType name="T_post">
		<xs:sequence>
			<xs:element ref="position"/>
			<xs:element ref="salary"/>
			<xs:element ref="company"/>
			<xs:element ref="trusted"/>
			<xs:element ref="city"/>
			<xs:element ref="to_center"/>
			<xs:element ref="job_desription"/>
			<xs:element ref="hot"/>
		</xs:sequence>
		<xs:attribute ref="id" use="required"/>
	</xs:complexType>
	<xs:complexType name="T_root">
		<xs:sequence>
			<xs:element ref="post" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AT_1">
		<xs:restriction base="xs:int">
			<xs:enumeration value="1226051"/>
			<xs:enumeration value="1349263"/>
			<xs:enumeration value="1443346"/>
			<xs:enumeration value="1779920"/>
			<xs:enumeration value="3871777"/>
			<xs:enumeration value="3872003"/>
			<xs:enumeration value="3872054"/>
			<xs:enumeration value="3872136"/>
			<xs:enumeration value="3872138"/>
			<xs:enumeration value="3872237"/>
			<xs:enumeration value="3872265"/>
			<xs:enumeration value="3872267"/>
			<xs:enumeration value="3872368"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_city">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Дніпро"/>
			<xs:enumeration value="Київ"/>
			<xs:enumeration value="Одеса"/>
			<xs:enumeration value="Харків"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_hot">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Гаряча"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_salary">
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>
			<xs:enumeration value="15000 – 25000 грн"/>
			<xs:enumeration value="22000 – 100000 грн"/>
			<xs:enumeration value="8000 – 12000 грн"/>
			<xs:enumeration value="none"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_to_center">
		<xs:restriction base="xs:string">
			<xs:enumeration value="0,6 км від центру"/>
			<xs:enumeration value="1,7 км від центру"/>
			<xs:enumeration value="2,2 км від центру"/>
			<xs:enumeration value="3,9 км від центру"/>
			<xs:enumeration value="none"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_trusted">
		<xs:restriction base="xs:string">
			<xs:enumeration value="  true"/>
			<xs:enumeration value="none"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
